body{
	font-family: Sans-Serif;
	background-image: url(comuE.jpg);
    
}

.menu{

	list-style: none;
	padding: 5;
	width: 30%;
	max-width: 250px;
	margin: 0;
	background-size: cover;
    background-position: center;
    font-family: sans-serif;
    font-size: inherit;
}

.menu li a{
	text-decoration: none;
	color: blanchedalmond;
	padding: 10px;
	display: block;
}

.menu li {
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ef8354;
}


