{% extends 'hotel/base.html' %}

{% block titulo %}
    Gestion de Contenidos
{% endblock %}
{% block contenido %}
    <h3>Bienvenidos</h3>
    <p>Bienvenido al Sistema de Administracion de un Hotel</p>
    <p>Este sistema presenta la administracion de un hotel brindandonos los serivicios</p>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="Email" value="">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword">
    </div>
  </div>
    <a href="{% url 'hotel' %}" class="btn btn-primary">Go somewhere</a>


{% endblock %}