{% extends 'hotel/base.html' %}

{% block titulo %}
   Detalle de la haibtacion
{% endblock %}
{% block contenido %}

<h4>Listado de Habitaciones</h4>
  {% for banio in habitacion.banio_list.all %}
      <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         <p><strong>Numero de baño</strong>{{ banio.banio_id }}</p>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          {% if banio %}
          <p><strong>Elementos de baño</strong> {{ banio }}</p>
          {% endif %}
        <strong><strong>Numero de duchas</strong> {{ banio.numero_duchas }}</strong><br>
        <strong><strong>Precio por baño</strong> {{ banio.CalcularPrecioBanio }}</strong><br>
      </div>
    </div>
  </div>
</div>
        {% endfor %}

{% endblock %}