{% extends 'hotel/base.html' %}

{% block titulo %}
   Factura {{ reservacion.numero_reservacion}}
{% endblock %}
{% block contenido %}
<h3>Realize la reservacion numero {{ servicioAdicional.id }}</h3>
    <form action="{% url 'servicio-reservar' servicioAdicional_id=servicioAdicional.id%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Reservar"> <a class="btn btn-warning" href="{% url 'servicio-id'  %}">Volver</a>
    </form><br>

{% endblock %}

